body {
    background-image: url(kepek/v3.jpg);
}

main {
    background-color: #cfc6b5;
    color: #456280;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "h h"
        "n n"
        "s a"
        "f f";
}

nav {
    padding-top: 10px;
}

nav ul {
    font-weight: bold;
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kepek {
    margin: auto;
    padding: 10px;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

aside {
    grid-area: s;
}

article {
    grid-area: a;
}

footer {
    grid-area: f;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

table, td, th {
    border: 1px solid;
}

table {
    margin: auto;
    text-align: center;
    width: 30%;
    border-collapse: collapse;
}

table td{
    border: solid 1px #506a85;
}

.fejlec{
    background-color: #506a85;
    color: white;
    font-weight: bold;
}

.masodiksor, .negyediksor{
    background-color: white;
}

footer {
    text-align: center;
    background-color: #506a85;
    color: white;
}

@media screen and (max-width: 700px) {
    main {
        grid-template-areas: 
            "h h"
            "n n"
            "a a"
            "s s"
            "f f";
    }
    
    nav ul {
        grid-template-columns: 1fr;
    }
}